@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <img src="Imagenes/huggies.jpg" class="d-block w-100" alt="Soporte">
</p>

<address>
    Bogotá D.C<br />
    Calle 16 #45-17<br />
    <abbr title="Phone">P:</abbr>
    231.779.0921
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:pañalera@example.com">pañalera@example.com</a><br />
</address>